<!-- <!DOCTYPE html>
<html lang="en"> -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/imgs/fav.png" />
  <title>TodoHeader</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Homemade+Apple&family=Preahvihear&display=swap"
    rel="stylesheet"
  />
</head>
<!-- <body> -->
<!-- <div class="direction">
      <div class="linking l1"><a title="personal" href="/list1"></a></div>
      <div class="linking l2"><a title="work" href="/list2"></a></div>
    </div> -->
<!-- </body>
</html> -->
